<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-loading *ngIf="busy"></app-loading>

  <div *ngIf="!busy">
  
    <input type="file" style="display: none" (change)="uploadPic($event)" #fileBtn />
    
    <div align="center">
      <img class="profile-pic" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/" (click)="fileBtn.click()"/>
    </div>

    <div class="profile-info">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="text" [(ngModel)]="newpassword"></ion-input>
      </ion-item>

      <ion-button fill="solid" color="dark" expand="block" (click)="updateDetails()">Save</ion-button>
    </div>
  </div>
</ion-content>
